<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - System EPS</title>
    
    @RenderSection("Styles", required: false)
</head>
<body class="bg-gray-100">
@RenderBody()

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>